<h1>Rabbithole output</h1>
Last Update:    {{timestamp}}<br/><br/>

<table border=1>
  <tr><th><strong>Info</strong></th><th>Data</th></tr>
  {{#infos}}
  <tr><td>{{key}}</td><td>{{& value}}</td></tr>
  {{/infos}}
</table>
